		*{
			padding: 0px;
			border: 0px;
			margin: 0px;
		}
		body{
			background: #F2F2F3;
		}
		#header span{
			font-size: 40px;
			color: #555;
		}
		#header img{
			width: 100%;
		}
		ul ol{
			list-style: none;
			text-decoration: none;
		}
		li{
			list-style: none;
		}
		.row{
			text-align: center;
		}
		.container-fluid{
			max-width: 1130px;
		}
		/*---------一条华丽丽的分隔线----------*/
		/*第一个版本*/
		/*#header{
			width: 100%;
			background: #fff;
		}
		#header .container-fluid{
			max-width: 100%;
		}
		#header .container-fluid .row{
			text-align: left;
		}
		#header .container-fluid .row div{
			height: 150px;
			padding: 60px;
		}
		#header .container-fluid .row h1{
			margin: 0px;
		}
		#header .container-fluid .row img{
			width: 40px;
		}
		#header .container-fluid .row #nav-first{
			text-align: center;
			background: #eee;
		}
		#header .container-fluid .row #nav-second{
			font-size: 20px;
			color:#555;
			text-align: center;
			background: #ddd;
		}
		#header .container-fluid .row #nav-third{
			text-align: center;
			background: #ccc;
		}*/
		/*第二个版本*/
		#header{
			width: 100%;
			height: 70px;
			background: #F2F2F3;
			border-style: solid;
			border-bottom-width: 1px;
			border-color: #ccc;
			position: fixed;
			z-index: 10;
		}
		#header #box-left{
			float: left;
			width: 115px;
			padding: 0 23px;
			border-style: solid;
			border-right-width: 1px;
			border-color: #ccc;
		}
		#header #box-left span{
			padding-left: 7px;
			font-size: 12px;
		}
		#header #box-left img{
			width: 25px;
			position: relative;
			top: -3px;
			margin-left: -30%;
		}
		#header #box-left #item1{
			cursor: pointer;
		}
		#header span{
			padding-left: 7px;
			font-size: 15px;
		}
		#header #item1{
			height: 70px;
			line-height: 70px;
			padding-left:15px;
			float: left;
		}
		#header #item4{
			height: 70px;
			line-height: 70px;
			padding-left: 15px;
			float: left;
		}
		#header #item2{
			padding: 0 15px;
			height: 70px;
			line-height: 70px;
			float: right;
		}
		#header #item2 img{
			margin: 0 10px;
			width: 20px;
		}
		#header #item3{
			background: #42ab9e;
			height: 70px;
			line-height: 70px;
			padding: 0 15px;
			float: right;
			color: #fff;
			font-weight: bold;
		}
		#header #logo{
			transition: 0s;
			line-height: 70px;
			font-size: 25px;
			font-weight: bold;
			position: absolute;
			left: 50%;
			opacity: 0;
			transition: 1s;
		}
		#header #logo img{
			height: 60%;
		}
		
		/*左边扩展栏*/
		#header-left{
			opacity: 0.7;
			position: fixed;
			z-index: 12;
			left: -300px;
			width: 300px;
			height: 100vh;
			background: #fff;
			transition: 3s;
		}
		#header-left #head{
			font-size: 20px;
			height: 70px;
			line-height: 70px;
			border-style: solid;
			border-bottom-width: 2px;
			border-color: #eee;
		}
		#header-left #head a{
			padding: 0px 20px;
		}
		#header-left #head #text{
			padding: 0 30px;
			font-size: 20px;
			float: right;
			line-height: 70px;
			color: #bbb;
		}
		#header-left a{
			text-decoration: underline;
			color: #bbb;
		}
		#header-left #head #text span{
			font-size: 20px;
			line-height: 70px;
			position: relative;
			top: 4px;
			cursor: pointer;
		}
		#header-left #head #text span:hover{
			transition: 1s;
			transform: rotate(90deg);
		}
		#header-left #items{
			padding-left: 30px;
			border-style: solid;
			border-bottom-width: 2px;
			border-color: #eee;
			width: 100%;
			height: 70px;
			line-height: 70px;
		}
		#header-left #items span{
			padding-right: 30px;
			float: right;
			line-height: 70px;
			font-size: 20px;
			color: #ddd;
		}
		#header-left #bottom{
			padding: 50px;
			height: 400px;
			line-height: 200px;
		}
		#header-left #bottom img{
			width: 200px;
		}
		#header-left #change{
			padding: 0 30px;
			height: 70px;
			line-height: 70px;
		}
		#header-left #change span{
			float: right;
			font-size: 25px;
			line-height: 70px;
			cursor: pointer;
		}
		/*---------------------------手机版----------------------------*/
		#header #item4-m{
			height: 70px;
			line-height: 70px;
			padding-right:25px;
			float: right;
		}
		#header #item4-m span{
			font-size: 20px;
		}
		#header #item2-m{
			display: none;
		}
		#header #item3-m{
			display: none;
		}
		/*--------------------------遮罩层--------------------------*/
		#mask-top{
			position: fixed;
			top: 0px;
			z-index: 11;
			width: 100%;
			height: 0px;
			background: #ccc;
			opacity: 0;
			cursor: pointer;
		}
		#mask-bottom{
			position: fixed;
			bottom: 0px;
			z-index: 11;
			width: 100%;
			height: 0px;
			background: #ccc;
			opacity: 0;
			cursor: pointer;
		}
		#mask-main{
			position: fixed;
			top: 0px;
			height: 100vh;
			background: #ccc;
			opacity: 0.7;
			display: none;
		}
		/*遮罩层动画*/
		@keyframes mask-show{
			0%{
				height: 0px;
			}
			40%{
				height: 10vh;
			}
			60%{
				height: 50vh;
			}
			75%{
				height: 45vh;
			}
			100%{
				height: 50vh;
			}
		}
		@keyframes mask-hidden{
			0%{
				height: 50vh;
			}
			20%{
				height: 10vh;
			}
			100%{
				height: 0px;
			}
		}
		/*-------一条华丽丽的分割线----------*/
		
		.footer{
			padding: 30px;
			width: 100%;
			/*background: #2c3e50;*/
			background: #fff;
		}
		.footer #top{
			padding: 50px;
			background: #fff;
			margin: auto;
			max-width: 1300px;
			border-style: solid;
			border-top-width: 2px;
			border-bottom-width: 2px;
			border-color: #ccc;
		}
		.footer #top #logo{
			width: 200px;
		}
		.footer #top:after{
			clear: both;
			content: "";
			display: block;
		}
		.footer #top img{
			width: 40px;
		}
		.footer #top li{
			list-style: none;
			float: right;
			padding-left: 20px;
		}
		.footer #top li:first-child{
			float: left;
		}
		.footer #top #title{
			font-size: 30px;
			margin-right: 70px;
		}
		.footer #ul-group-box{
			max-width: 1300px;
		}
		.footer #ul-group-box .row{
			text-align: left;
		}
		@keyframes box-right{
			0%{
				left: 0;
			}
			100%{
				left: 500px;
			}
		}