body{
	background: #EDD5D1;
}
#body{
	padding-top: 70px;
}
#body #top-back{
	background-image: url("../img/bg2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
	width: 100%;
	background-position: center center;
	filter: blur(3px);
	position: absolute;
}
#body #top{
	position: relative;
	z-index: 1;
	height: 400px;
	width: 100%;
	color: #fff;
	text-align: center;
	line-height: 400px;
	font-size: 50px;
}
.row{
	text-align: center;
}
#lunbo-box{
	width: 100%;
	text-align: center;
}
#lunbo{
	margin: auto;
	max-width: 800px;
}
#lunbo img{
	width: 100%;
}
#content{
	max-width: 1100px;
	margin: auto;
	padding-top: 60px;
	padding-bottom: 60px;
}
#content #items{
	margin: 20px;
	height: 200px;
	background: #fff;
}
#content #items:hover{
	cursor: pointer;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
}
#content #box-caption{
	text-align: center;

}
#content #item-box{
	margin: auto;
	width: 100%;
	margin-top: 20px;
}
#content #item-box:after{
	clear: both;
	content: "";
	display: block;
}
#content #item-box #box-left{
	float: left;
	height: 350px;
	width: 50%;
	overflow: hidden;
	background-image: url("../img/bg3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}
/*#content #item-box #box-left img{
	cursor: pointer;
	height: 350px;
	width: 550px;
	transition: 1s;
	position: relative;
}
#content #item-box #box-left img:hover{
	height: 400px;
	width: 600px;
	top: -25px;
	left: -25px;
}*/
#content #item-box #box-right{
	float: left;
	height: 350px;
	width: 50%;
	background: #fff;
}
#content #item-box #box-right #hr{
	width: 100px;
	height: 175px;
	float: left;
	border-bottom-width: 1px;
	border-style: solid;
	border-color: black;
}
#content #item-box #box-right #text{
	width: 400px;
	height: 300px;
	margin: 25px;
	float: left;
	line-height: 30px;
}
#content #item-box #box-right #text #button{
	height: 50px;
	width: 70px;
	text-align: center;
	line-height: 50px;
	/*border-style: solid;
	border-top-width: 1px;
	border-color: #ccc;*/
	cursor: pointer;
	position: relative;
	transition: 0.7s;
}
/*#content #item-box #box-right #text #button:hover{
	border-width: 1px;
}*/
#content #item-box #box-right #text #button *{
	transition: 0.7s;
	border-color: #ccc;
}
#content #item-box #box-right #text #button #line-top{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 50px;
	border-style: solid;
	border-width: 1px;
}
#content #item-box #box-right #text #button #line-left{
	position: absolute;
	left: 0px;
	top: 0px;
	height: 0px;
	border-style: solid;
}
#content #item-box #box-right #text #button #line-right{
	position: absolute;
	right: 0px;
	top: 0px;
	height: 0px;
	border-style: solid;
}
#content #item-box #box-right #text #button #line-bottom{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 0px;
	border-style: solid;
}