		#body{
			padding-top: 75px;
		}
		#title #img img{
			max-width: 500px;
		}
		#container{
			margin-top: 30px;
		}
		#container #title{
			text-align: left;
		}
		#bottom-group{
			padding-top: 40px;
		}
		#daohang img{
			width: 120px;
			margin: 30px;
		}
		#daohang .row{
			margin-right: 0px;
			margin-left: 0px;
		}
		#daohang #last{
			margin-right: 0px;
		}
		#details-box div{
			padding: 0px;
		}
		#details-box #detials-left{
			background: MintCream;
			height: 500px;
		}
		#details-box #detials-right{
			background: #E6E6FA;
			height: 500px;
		}
		#details-box #detials-3{
			background: #D8BFD8;
			height: 500px;
		}
		#details-box #details-devider{
			height: 150px;
			background: #fff;
		}