.contianer{
	width: 100%;
	height: 500px;
	background: #fff;
}
#section1 #logo{
	position: relative;
	animation: logo 3s;
}
@keyframes logo{
	0%{
		opacity: 0;
		top: -100px;
	}
	100%{
		opacity: 1;
		top: 0px;
	}
}
#section1 #car{
	position: relative;
	animation: scar 3s;
}
@keyframes scar{
	0%{
		left: -1000px;
	}
	100%{
		left: 0px;
	}
}